//layout
.q-footer {
    z-index: 3000;
}

//page
.page {
    &-header {
        &-title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 12px;
        }
    }
    &-body {
        &-spacer {
            &-header {
                height: 51px;
            }
            &-footer {
                height: 73px;
            }
        }
    }
}